body #maincontent .login-container {
	width: 37.904%;
	float: left;
}

body #maincontent .login-container .block-new-customer {
	float: inherit;
	width: 100%;
	border: 3px solid #eee;
	padding: 23px 27px 27px;
	margin-bottom: 20px;
}

body #maincontent .login-container .block-customer-login {
	float: inherit;
	width: 100%;
	border: 3px solid #eee;
	padding: 23px 27px 27px;
	margin-bottom: 83px;
}

body #maincontent .login_page_image {
	float: right;
	width: 60.484%;
}

body #maincontent .login-container .block .block-title {
	border-bottom: 1px solid #eee;
	margin-bottom: 16px;
	padding-bottom: 18px;
}

body #maincontent .login-container .block .block-title strong {
	color: #222;
	letter-spacing: .8px;
	font: 700 16px/20px 'Helvetica','Arial',sans-serif;
}

body #maincontent .login-container .block .block-content .actions-toolbar
	{
	margin-top: 16px;
}

body #maincontent .login-container .block .block-content .actions-toolbar .primary a
	{
	border: 0;
	background: #111;
	padding: 0 22.4px;
	text-align: center;
	height: 40px;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
}
body #maincontent .login-container .block .block-content .actions-toolbar .primary a:hover {
	background: #183c8e;
}

body #maincontent .login-container .block .block-content .actions-toolbar .primary a span
	{
	color: #ffffff;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 700;
}

body #maincontent .login-container .block-customer-login .form-login .field.note
	{
	font: normal 13px/13px 'Helvetica', 'Arial', sans-serif;
	color: #222;
	margin-bottom: 23px;
}

body #maincontent .login-container .block-customer-login .form-login .field.required .label	{
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
	font-weight: 600;
}

body #maincontent .login-container .block-customer-login .form-login .field.required {
	margin-bottom: 10px;
}

body #maincontent .login-container .block-customer-login .form-login .field.required .control {
	width: 100%;
}

body #maincontent .login-container .block-customer-login .form-login .field.required .control input	{
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px 15px;
	height: 40px;
	max-width: 100%;
	margin: 0;
	border-radius: 0;
	outline: none;
	color: #222;
}
body #maincontent .login-container .block-customer-login .form-login .actions-toolbar .primary button {
	border: 0;
    background: #111;
    padding: 0 28.8px;
    height: 40px;
    max-width: 100%;
    cursor: pointer;
    outline:none;
}
body #maincontent .login-container .block-customer-login .form-login .actions-toolbar .primary button:hover {
	background: #183c8e;
}
body #maincontent .login-container .block-customer-login .form-login .actions-toolbar .primary button span {
	color: #ffffff;
	text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
}